Workflow/Prova funzionante.json
{
  "name": "Prova funzionante",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Leggi la domanda: {{ $json.message.text }}, consulti \"Home Assistant\" e rispondi",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        96,
        -32
      ],
      "id": "d910be50-d31d-4ce9-9e41-cfc3cf0456b8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        32,
        144
      ],
      "id": "d0ec3c7f-f360-4b10-9510-b79c130f9b92",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "kZjjBzMYLYyzQSRm",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -48,
        -384
      ],
      "id": "b671cc6b-c57a-47f3-ae1a-193f941c427b",
      "name": "Telegram Trigger",
      "webhookId": "c78cd4ca-0645-4365-aafa-3fbd6359a8ab",
      "credentials": {
        "telegramApi": {
          "id": "J6z1wLrloGhy6Exc",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "documenti_semplici",
          "mode": "list",
          "cachedResultName": "documenti_semplici"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        -384
      ],
      "id": "b9320d27-0c2c-4648-8126-f56e068e1c9f",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "tp41nvxHaylPwL5c",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        848,
        -384
      ],
      "id": "d8aa1e90-4970-446d-bb5f-aa640073d0b8",
      "name": "Get the config",
      "credentials": {
        "homeAssistantApi": {
          "id": "0QBRMpNsuemOWNx7",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dashboardUidOrUrl": "n8n",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.grafana",
      "typeVersion": 1,
      "position": [
        416,
        -384
      ],
      "id": "2336a82b-e90b-4ed1-a29d-24affde65550",
      "name": "Update a dashboard",
      "credentials": {
        "grafanaApi": {
          "id": "mxNV2AlxvwiJL2Ue",
          "name": "Grafana account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Risposta: {{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        176,
        -384
      ],
      "id": "ddccde74-8901-4361-850b-fde85624b97f",
      "name": "Send a text message",
      "webhookId": "86893cde-6865-490a-9452-6dbd1135dfc3",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "J6z1wLrloGhy6Exc",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "state",
        "entityId": "weather.forecast_casa"
      },
      "type": "n8n-nodes-base.homeAssistantTool",
      "typeVersion": 1,
      "position": [
        240,
        144
      ],
      "id": "e15d9716-f6c5-4231-a357-1a3a9adbdd9c",
      "name": "Home Assistant",
      "credentials": {
        "homeAssistantApi": {
          "id": "0QBRMpNsuemOWNx7",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "752473267946084",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        400,
        -32
      ],
      "id": "5ed0a48b-d90d-4dad-a58b-5474fd8effee",
      "name": "Send message1",
      "webhookId": "947b4a8e-a899-4cd4-9066-0e30d77b808e",
      "credentials": {
        "whatsAppApi": {
          "id": "HYGCnuUXHFfaioFs",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        -32
      ],
      "id": "b98cce5d-901b-4008-a59c-f41b84e442ff",
      "name": "WhatsApp Trigger",
      "webhookId": "359270d5-85de-43a2-b3a9-c0fefc7346bc",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "fsWuFj3b957GiwKm",
          "name": "WhatsApp OAuth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        []
      ]
    },
    "Select rows from a table": {
      "main": [
        []
      ]
    },
    "Home Assistant": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "df58da81-6bba-4f8c-9c86-85c1df39bda9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fac120731414d4eff00a312a125436b5347674d0f93f2b56daab27d796c05560"
  },
  "id": "cHyVML2Jj4Pnboyx",
  "tags": []
}